h1.hidden-phone Check, Check It

p The easiest way to use a checklist

p  A checklist is just a text document. Start each checkable item with a dash.   Anything beneath a step is considered instructions and will be displayed beneath.

h4 On the fly

form(action='/list/new', method='POST')
  label Name
    br
    input(type='text', name='name', placeholder="Groceries...")

  label List Items
    br
    textarea(name='list', id='list', rows='10', placeholder="- apples")

  br

  button.button(type='submit') Start

p  <a href="http://github.com/csquared/checkcheckit">Use it from the command line.</a>
